<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BudayaKB Lite</title>
    <link rel = "icon" type = "image/png" href = "https://p7.hiclipart.com/preview/646/962/564/national-emblem-of-indonesia-garuda-others.jpg">

</head>
<body>
    {% include 'includes/_navbar.html' %}
    
    <div class="form">
    <h2>Kriteria Pencarian Statistik Data Budaya</h2>
	<form method="POST", action="" enctype = "multipart/form-data">
		<select name="perintah">
            <option name="perintah" value="All">All</option>
            <option name="perintah" value="Tipe Budaya">Tipe Budaya</option>
            <option name="perintah" value="Asal Provinsi Budaya">Asal Provinsi Budaya</option>
        </select><br><br>
        <input type="submit" value="Tampilkan">
    </form>
    <!--  -->
    {% if select == "All" and banyak != 0 %}
        <h3>Budaya KB memiliki {{banyak}} data budaya</h3>
    {% endif %}
    <!--  -->
    {% if select == "Tipe Budaya" and banyak != 0 %}
        <h3>Statistik Data Budaya berdasarkan {{select}} </h3>
    {% endif %}
    <!--  -->
    {% if select == "Asal Provinsi Budaya" and banyak != 0 %}
        <h3>Statistik Data Budaya berdasarkan {{select}} </h3>
    {% endif %}
    <!--  -->
    {% if banyak == 0 %}
    <h3>Ett.. <a style="text-decoration: none; color: chartreuse;" href="/imporBudaya">Impor</a> data dulu bray..</h3>
    {% endif %}
    <!--  -->
    </div>
	
    {% if (select == "Tipe Budaya" or select == "Asal Provinsi Budaya") and banyak != 0 %}
    <div class="tbl">
    <table>	
        <tr>
            <th style="border-top-left-radius: 12px;"><b>Kriteria</b></th>
            <th style="border-top-right-radius: 12px;"><b>Jumlah</b></th>
        </tr>
        {% for i in data%}
        <tr>
            <td>{{i}}</td>
            <td>{{data[i]}}</td>
        </tr>
        {% endfor %}	
    </table></div>
    {% endif %}
	<br><br>
</body>
</html>