<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BudayaKB Lite</title>
<link rel = "icon" type = "image/png" href = "https://p7.hiclipart.com/preview/646/962/564/national-emblem-of-indonesia-garuda-others.jpg">

</head>

<body>
	{% include 'includes/_navbar.html' %}
	
    <div class="form"><h2>Mengubah Budaya</h2>
  <form method="POST", action="" enctype = "multipart/form-data">
    {% if  error is not defined %}
		<p>Masukkan nama budaya yang akan diubah</p>
		Nama: <input type="text" name=namabudaya size="40" style="margin-left: 70px;" required><br>
        Tipe: <input type="text" name=tipebudaya size="40" style="margin-left: 80px;" required><br>
        Provinsi: <input type="text" name=provbudaya size="40" style="margin-left: 55px;" required><br>
        URL referensi:  <input type="text" name=urlbudaya size="40" style="margin-left: 19px;" required><br>
        
        <!--  -->
        {% if valid == 1 %}
         <h3>sukses mengubah data "{{ nambud }}"</h3>
        {% elif valid == 0 %}
          <h3>Data dengan nama "{{nambud}}" tidak ada dalam sistem</h3>
        {% endif %}
        <!--  -->
        <br>
        <input type="submit" value="Ubah Data">
        <input type="reset">
        <br><br>
    {% else %}
    <h3>Ett.. <a style="text-decoration: none; color: chartreuse;" href="/imporBudaya">Impor</a> data dulu brayy..</h3>
    {% endif %}
	</form>
	</div>
    
</body>
</html>
