<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>BudayaKB Lite</title>
	<link rel = "icon" type = "image/png" href = "https://p7.hiclipart.com/preview/646/962/564/national-emblem-of-indonesia-garuda-others.jpg">

</head>

<body>
	{% include 'includes/_navbar.html' %}
	
	<div class="form"><h2>Kriteria Pencarian</h2>
	<form method="POST", action="" enctype = "multipart/form-data">
		<select name="perintah">
            <option value="Nama Budaya">Nama Budaya</option>
            <option value="Tipe Budaya">Tipe Budaya</option>
            <option value="Asal Provinsi Budaya">Asal Provinsi Budaya</option>
        </select>
        <input type="text" name=bud>
        <br><br>
		<input type=submit value="Cari">
	</form>
	
		<!-- klo data tidak ditemukan -->
		{% if pjg == 0 and warisan != "" and panjang != 0 %}
			<h3>Data yang anda cari tidak ditemukan!</h3>
		{% endif %}

		<!-- klo data ditemukan -->
		{% if pjg is defined and pjg > 0 and warisan != "" %}
			<h3>Ditemukan {{ pjg }} data dengan {{ obj }} : {{ warisan }}</h3>
		{% endif %}

		<!-- utk nampilin semua isi budaya -->
		{% if warisan == "" and obj=="Nama Budaya" and panjang != 0%}
			<h3>Menampilkan seluruh Budaya Indonesia sebanyak {{panjang}} budaya</h3>
		{% endif %}

		<!-- klo belom import -->
		{% if panjang == 0 %}
			<h3>Ett.. <a style="text-decoration: none; color: chartreuse;" href="/imporBudaya">Impor</a> data dulu brayy..</h3>
		{% endif %}
		</div>
		
		<!-- print tabel dari input yang dimasukkan-->
		{% if pjg is defined and pjg > 0 and warisan != "" and panjang != 0 %}
		<div class="tbl">
		<table>	
			<tr>
				<th style="border-top-left-radius: 12px;"><b>Nama</b></th>
				<th><b>Tipe</b></th>
				<th><b>Asal</b></th>
				<th style="border-top-right-radius: 12px;"><b>URL</b></th>
			</tr>
			{% for i in hasil %}
			<tr>
				<td>{{i.nama}}</td>
				<td>{{i.tipe}}</td>
				<td>{{i.prov}}</td>
				<td>{{i.url}}</td>
			</tr>
			{% endfor %}	
		</table></div>
		{% endif %}
		
		<!-- print semua data pada database -->
		{% if warisan == "" and obj=="Nama Budaya" and panjang != 0 %}
		<div class="tbl">
		<table>	
			<tr>
				<th style="border-top-left-radius: 12px;"><b>Nama</b></th>
				<th><b>Tipe</b></th>
				<th><b>Asal</b></th>
				<th style="border-top-right-radius: 12px;"><b>URL</b></th>
			</tr>
			{% for i in data %}
			<tr>
				<td>{{i.nama}}</td>
				<td>{{i.tipe}}</td>
				<td>{{i.prov}}</td>
				<td>{{i.url}}</td>
			</tr>
			{% endfor %}
		</table>	
		{% endif %}

	
	</div>
</body>
</html>



	
	